@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

.header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background:linear-gradient(135deg, #FF512F, #DD2476), url(images/girl1.jpg);
    background-size:cover;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: flex-end;
}

.header .content {
    padding: 100px;
    max-width: 80%;
    color: #fff;
}

.header .content .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.header .content h1 {
    font-size: 5rem;
    letter-spacing: 0.25rem;
    line-height: 1.2;
}

.header .content p {
    width: 650px;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
}

.fs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
    max-width: 100%;
    width: 100%;
    background: coral;
}

.fs .num {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 10rem;
    font-weight: bolder;
    background: #001730;
    color: #fff;
    padding: 130px;
}

.fs .fs--content {
    height: 100%;
    width: 55%;
    background: #4ad7d1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #fff;
}

.fs .fs--content .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.fs .fs--content h2 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    line-height: 1.2;
}

.fs .fs--content p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    padding-top: 10px;
}

.fs .fs--content .btn {
    margin-top: 20px;
    background: #fe4a49;
    border: none;
    color: #fff;
    font-size: 16px;
    padding:15px 30px;
    cursor:pointer;
}

.fs  .fs--photo {
    height: 100%;
    max-width: 25%;
    width: 25%;
    background: url(images/boy1.jpg);
    background-position: center center;
    background-size: cover;
}

.discipline1 {
    display: flex;
    width: 100%;
}

.discipline1 .row1 {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
}

.discipline1 .row1 .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 50px;
    background: #fe4a49;
    height: 50vh;
    color: #fff;
}

.discipline1 .box1 .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.discipline1 .box1 .shape {
    width: 500px;
    height: 60px;
    background-image: none;
    background: #4ad7d1;
    margin: 8px auto 0 -101px;
    position: absolute;
    z-index: 11;
    background-blend-mode: multiply;
}

.discipline1 .box1 h2 {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
    padding:8px;
    width: 100%;
    z-index: 100;
}

.discipline1 .box1 p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    padding-top: 10px;
    padding-bottom: 25px;
}

.discipline1 .box1 .btn {
    padding: 15px 30px;
    border: 1px solid #fff;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.discipline1 .box1 .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.discipline1 .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 50px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(images/design.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    color: #fff;
}

.discipline1 .box2 .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.discipline1 .box2 .shape {
    width: 500px;
    height: 65px;
    background-image: none;
    background: #fff;
    margin: 8px auto 0 -50px;
    position: absolute;
    z-index: 11;
    background-blend-mode: multiply;
}

.discipline1 .box2 h2 {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
    padding:8px;
    width: 100%;
    z-index: 100;
    color: #001730;
}

.discipline1 .box2 p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    padding-top: 10px;
    padding-bottom: 25px;
}

.discipline1 .box2 .btn {
    padding: 15px 30px;
    border: 1px solid #fff;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.discipline1 .box2 .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.discipline2 {
    display: flex;
    width: 100%;
    align-items: center;
}

.discipline2 .row2 {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
}

.discipline2 .row2 .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 50px;
    background: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(images/fineart.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    color: #fff;
}

.discipline2 .box3 .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.discipline2 .box3 .shape {
    width: 500px;
    height: 60px;
    background-image: none;
    background: #fff;
    margin: 8px auto 0 -101px;
    position: absolute;
    z-index: 11;
    background-blend-mode: multiply;
}

.discipline2 .box3 h2 {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
    padding:8px;
    width: 100%;
    z-index: 100;
    color: #001730;
}

.discipline2 .box3 p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    padding-top: 10px;
    padding-bottom: 25px;
}

.discipline2 .box3 .btn {
    padding: 15px 30px;
    border: 1px solid #fff;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.discipline2 .box3 .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.discipline2 .box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 50px;
    background: #4ad7d1;
    height: 50vh;
    color: #fff;
}

.discipline2 .box4 .top-text {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: 0.35rem;
}

.discipline2 .box4 .shape {
    width: 500px;
    height: 65px;
    background-image: none;
    background: #fe4a49;
    margin: 8px auto 0 -50px;
    position: absolute;
    z-index: 11;
    background-blend-mode: multiply;
}

.discipline2 .box4 h2 {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
    padding:8px;
    width: 100%;
    z-index: 100;
    color: #fff;
}

.discipline2 .box4 p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    padding-top: 10px;
    padding-bottom: 25px;
}

.discipline2 .box4 .btn {
    padding: 15px 30px;
    border: 1px solid #fff;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.discipline2 .box4 .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
